[2014-04-06 21:44] brishin opened #1 "No check to see if the Meteor.settings object exists"
https://github.com/okgrow/meteor-persistent-session/blob/master/lib/persistent_session.js#L4

Throws a `Uncaught TypeError: Cannot read property 'public' of undefined` if settings have not been defined.

[2014-04-07 17:26] #1 closed, assigned to nobody

[2014-05-28 03:14] manuelpaulo opened #2 "Session.equals fails"
Just that. I guess it's because there's no change trigger.

Anyway, I have replaced Session.equals("key", value) with Session.get("key") === value and now works fine.

Example: Leaderboard

[2014-06-16 20:03] valZho opened #3 "Session.setDefault() obliterates existing session data"
With persistent-session installed, Session.setDefault() will always overwrite an existing value, i.e., it functions exactly the same as Session.set(). This is a huge problem for writing initialization functions as it makes it harder to not obliterate the persistent data--which is the whole point of the plugin to begin with.

[2014-06-17 12:23] #2 closed, assigned to nobody

[2014-06-17 12:23] #3 closed, assigned to nobody

[2014-09-22 05:46] chadokruse opened #7 "Unable to default to Temporary"
Added this package to an existing project and I'm unable to get it to default to `temporary` (and keep the sessions out of localStorage).

I can verify settings.json is set up correctly, as console provides `"temporary"` when querying for `Meteor.settings.public.persistent_session.default_method`.

Setting the session via both the Meteor default `Session.set('foo', 'bar')` as well as `Session.setT

[2014-11-04 10:09] jiku opened #8 "Cannot read property 'public' of undefined"
With Meteor 1.0 when added to a package.js with `api.use('u2622:persistent-session');`, the client console shows

`Uncaught TypeError: Cannot read property 'public' of undefined
persistent_session.js:4(anonymous function)
persistent_session.js:4(anonymous function)
persistent_session.js:57(anonymous function)
persistent_session.js:57
Uncaught TypeError: Cannot read property 'PersistentSession' of

[2014-11-10 05:04] aadamsx opened #9 "Session.setAuth not auto deleting after logout"
I can set a session with Session.setAuth(key, value), then log out, and log back in and the value is still there.  I'm using account-ui-bootstrap-3 (just a wrapper on account-ui) and account-password at the moment.

After I log out and then back in, I can still see the value in LocalStorage.

[2014-11-26 22:09] IndigoStarfish opened #10 "Default 1, set 0, doesn't survive refresh"
This works fine

    // First time all is good
    console.log(Session.get('test')); // undefined
    Session.setDefaultPersistent('test', 0);
    console.log(Session.get('test')); // 0
    Session.update('test', 1);
    console.log(Session.get('test')); // 1

    // Second time (after reload)
    console.log(Session.get('test')); // this works fine, outputs 1

However this doesn't:

    // First

[2014-12-19 23:22] #7 closed, assigned to nobody

[2014-12-20 00:24] #8 closed, assigned to nobody

[2015-01-16 21:58] rgould commented on #9
@aadamsx @mvaivre Sorry for the delay. I can't seem to replicate this at all :crying_cat_face:

Are you still experiencing this problem? If so, are you able to reliably replicate it (and include steps here or point to a test app)? If so, reopen this issue when you comment.

[2015-01-17 05:05] #10 closed

[2015-01-21 04:43] RobertLowe opened #11 "[Idea] Migrate to ReactiveDict"
`Session` is entirely based on `ReactiveDict` now: https://github.com/meteor/meteor/blob/devel/packages/session/session.js

Since: https://github.com/meteor/meteor/commit/624035fab8fb27b1d4f5d884518d92dd3d52e5e0

So rather then adding all the functionality to `Session`, it could be added to `ReactiveDict`.

This has the advantage of being able to isolate a namespace/ReactiveDict.

Any thoughts?

C

[2015-01-21 10:14] jhuenges commented on #11
Might be a nice idea. Havent done much with ReactiveDict, but i will take a look at it

[2015-01-22 02:27] pauldowman commented on #11
@RobertLowe So do you mean you would you want to add it to all ReactiveDicts? Or do you mean that rather than having it available on Session you would have a separate persistent ReactiveDict available?

[2015-01-22 02:49] RobertLowe commented on #11
@pauldowman no, not really but it depends on how it's implemented. I think injecting the functionality into `ReactiveDict` would be a poor choice over creating a new object. Something like:

`MyPackageSettings = PersistentReactiveDict('MyNameSpace')` where `PersistentReactiveDict` extends `ReactiveDict` would be useful.

Then the persistent session package would be one line:

    Session = new Per

[2015-02-03 02:53] pauldowman commented on #11
@RobertLowe I like this suggestion.

[2015-02-06 02:04] advany opened #12 ""undefined is not an object (evaluating 'e.route.getName')""
When I use persistent-session I get the error above (only in production mode) and when I uninstall persistent session everything seems to be ok again...

[2015-02-06 02:12] advany commented on #12
and removing setTemp everywhere fixed it... can't track how this happend, just reporting

[2015-02-06 02:30] rgould commented on #12
Hi @advany! Is there any chance you can provide us with some more information? If you could include the full stack trace for the error, as well as the contents of your `.meteor/packages` file, that would help us immensely.

[2015-02-06 02:40] advany commented on #12
I removed and reinstalled the package. Can't seem to replicate the error anymore...

[2015-02-06 02:40] #12 closed

[2015-02-06 02:45] rgould commented on #12
Weird. Let us know if you come across it again!

[2015-02-09 11:53] kasireddynv opened #13 "Issue of Using u2622:persistent-session Package?"
I using `u2622:persistent-session` in my project at that time i get one error.The error is "**Uncaught Error: Meteor does not currently support objects other than ObjectID as ids**".I didn't get any idea about this.So please suggest me what to for this issue?

[2015-02-09 19:34] rgould commented on #13
Is there any chance you can provide us with some more information? If you could include the full stack trace for the error, as well as the contents of your `.meteor/packages` file, that would help us immensely.

From what I can see, it sounds like it is unrelated, and possibly caused during a `Collection.insert` call, where the `_id` field is trying to be set using an invalid value.

[2015-02-10 08:38] kasireddynv commented on #13
Yes,But If i am not use this package it's works fine when ever i use to install this package and just runs `localhost:3000` then gets above error.Again removes this package works fine.So i am also get any idea about this.

[2015-02-10 18:32] rgould commented on #13
@kasireddynv We need more info before we can debug this. Can you provide us with the information requested above, or perhaps the app itself? Then we'll take a look.

[2015-02-17 06:38] kasireddynv commented on #13
@rgould

Please find the  error : "Exception from Tracker recompute function: Meteor does not currently support objects other than ObjectID as ids
LocalCollection._idStringify@http://localhost:4000/packages/minimongo.js?e8806aa7782b729b2517ebc0cd10b321667f1427:1114:11
seqChangedToArray/seqArray<@http://localhost:4000/packages/observe-sequence.js?2fd807ea171ead273b9e6458607cb226012d9240:311:20
_.co

[2015-02-19 15:59] DanielDornhardt opened #14 "Default-Method isn't temporary, but persistent"
Hi, this just bit me - maybe I just misunderstood the docs, which say:

---

To define the default type for session variables, set persistent_session.default_method to your preferred type in your config/settings.json file:

    {
      "public": {
        "persistent_session": {
          "default_method": 'your-preferred-type'
        }
      }
    }

persistent_session.default_method can take on

[2015-02-19 16:01] DanielDornhardt commented on #14
Also, it might be nice to document that the "persistent" - option also leads to session variables being shared across browser windows/tabs. That is implied by using localstorage, but that makes the behaviour differ from the default session in two major ways (persistent across reloads + shared between windows), not only one.

[2015-02-28 08:06] aramk opened #15 "Infinite loop during app startup"
After using the library for some time on an app, there's an infinite loop in the browser until I clear cookies. I'm not sure if this is a bug with the library or amplify, or even Chorme. It's not possible to debug since the browser cannot load a page. Does anyone know what might be causing this?

[2015-03-02 21:47] jamesgibson14 opened #17 "Storing a Date returns a string on .get(), which is not how the original Session worked."
var d = new Date();
Session.set('d',d);
Session.get('d') // typeof: String

[2015-03-03 16:40] nickw commented on #14
Agreed, it appears the docs are incorrect. I was just bit by this as well.

[2015-03-03 16:42] pauldowman commented on #14
Thanks @DanielDornhardt and @nickw, and sorry for the slow reply. We'll fix it!

[2015-03-03 16:43] pauldowman commented on #14
I tend to think it should be as the docs say, which will actually be a breaking change, what do you think @rgould? Definitely should bump the major version # then.

[2015-03-03 16:46] nickw commented on #14
@pauldowman yeah, that was my expectation as well.

[2015-03-03 16:47] pauldowman commented on #17
Thanks. We'll check this out. Sounds like we're not converting to EJSON properly.

[2015-03-03 16:50] pauldowman commented on #15
See also #14.

[2015-03-10 02:10] #17 closed

[2015-03-10 02:13] rgould commented on #11
@RobertLowe Sorry for the super slow reply. This is a great idea, and we're definitely seeing how this is super useful, especially for writing packages.

But we'd like to see a couple things first:

* Please fork the project from our repo, rather than creating a new one. This will help maintain code fixes between the repos, and will let us push fixes to you when we get them

* Please leave the cod

[2015-03-10 02:46] RobertLowe commented on #11
Hey @rgould, no worries! (How have you been by the way?)

I did this on purpose, it's kind of a different thing. I'm happy maintaining it as is. The reason I referenced it was to flag you guys about it's creation.

I disagree, which alone is probably a good reason for it being a fork. Yay, open source! I'm an opinionated developer and I enjoy working with CoffeeScript, I'm not optimizing for contr

[2015-03-10 03:40] rgould commented on #11
@RobertLowe I'm well! Hope the same with you!

Yeah, I just figured if we used the same code base that it would make it easy to share bug fixes and patches quickly. But it's not a big deal at all, and it's a pretty small project anyway.

[2015-03-10 03:40] #11 closed

[2015-03-10 23:45] rgould opened #19 "Support new Session syntax"
With Meteor 1.0.4, you can now do this:

`Session.set({k1: v1, k2: v2})` to set multiple values at once.

[2015-03-11 08:04] yuomtheara opened #20 "not clear with "Session.setAuth()" when user log out?"
i use `Session.setAuth()` when user login, but when user logout the session don't auto clear.
Pl help me.

[2015-03-11 17:17] rgould commented on #20
@yuomtheara Thanks for reporting this. We'll have a look and either fix a bug, or update the documentation

[2015-03-16 20:39] #15 closed

[2015-03-16 20:41] rgould commented on #14
This should be fixed by df7386932a0ec9a162806111d4c0ec123ad32ab7, which has been released now. Reopen this if the issue persists!

[2015-03-16 20:41] #14 closed

[2015-03-16 20:41] rgould commented on #13
@kasireddynv We've just released version 0.3.0, which may fix this issue. Can you try updating and see if you still have this problem?

[2015-03-16 23:59] rgould commented on #20
@yuomtheara I'm having trouble replicating this.

if I call `Session.setAuth('foo', "some data")`, it is cleared successfully when the user logs out. This is using `accounts-password` provided by meteor.

Which accounts packages are you using?

[2015-03-17 00:57] yuomtheara commented on #20
yes, i use `accounts-password`.
but sometime cleared when the user log out.

[2015-03-18 09:59] voidale opened #21 "Is it possible to wait for session?"
I'm trying to wait for session variable with iron router
[code]

But the problem is that session are not available right away and we can't wait for it. I'm trying to do a collection for users based on session because I do not need login functions, It's everything for guests. Anyway I can accomplish this? Thank you.

[2015-03-18 15:04] hansvn opened #22 "ReferenceError: EJSON is not defined"
When I have a persistent session and I reload the page (in the browser) I get this error:
[code]

I think this has to do with the package trying to load and parse the session vars before EJSON is loaded.

[2015-03-18 20:10] DanielDornhardt commented on #14
Thank you!

[2015-03-19 10:46] jadsonlourenco commented on #22
Yes, get this error too...

[2015-03-19 17:09] rgould commented on #22
Thanks! We'll hopefully get this one resolved quickly.

[2015-03-19 19:41] gabriel-dehan commented on #22
+1

[2015-03-20 17:44] pauldowman commented on #22
Yeah it needs to depend on the ejson package.

[2015-03-20 18:10] jadsonlourenco commented on #22
I removed the package **msavin:mongol**, that use *babrahams:editable-json* and *gwendall:session-json* as dependency, so don't get this error any more. Like @pauldowman said is related with EJSON package, conflict?

[2015-03-21 23:58] voidale commented on #21
I just ended up using `this.ready()` from iron router for extra check and It's enough.

[2015-03-21 23:58] #21 closed

[2015-03-27 15:34] tcastelli commented on #22
+1! gettings EJSON.parse failed in many template helpers (expected string) reverted to 0.2.2 to fix it temporally

[2015-04-01 15:49] zaklampert commented on #22
+1. any news here? also sticking with 0.2.2

[2015-04-01 18:06] #22 closed

[2015-04-02 13:21] tcastelli opened #24 "Problem when using with package messageformat"
Hello, i was having this problem and some others and thought that everything would be fixed with the EJSON update, but still getting a lot of exceptions related to messageformat package (not happening with 0.2.2)
.....
"Exception in template helper: EJSON.parse@http://localhost:3000/packages/ejson.js?71047b64b5196348bdbe5fd5eea9ac97a5a9eb14:384:30
_psGet@http://localhost:3000/packages/u2622_persis

[2015-04-17 20:19] rgould commented on #13
@kasireddynv Going to close this issue. If you're still encountering it, please re-open it, preferably with demo meteor app that reproduces the problem.

[2015-04-17 20:19] #13 closed

[2015-04-17 21:56] rgould commented on #24
@tcastelli I can't seem to replicate this at all. It looks like a value is getting saved into Session that is not EJSONable. Perhaps there was a problem with the update from 0.2 to 0.3. If you clear your localStorage does the problem still persist?

[2015-04-17 21:57] rgould commented on #20
@yuomtheara I'm still not able to replicate this issue. Are you still experiencing it? Can you try it with the latest version (0.3.2)?

[2015-04-17 22:32] tcastelli commented on #24
Thanks for the hint, I tried to clear my localStorage and the page loaded again, so after looking for a while what was generating those non EJSONable parts i found out that at some point i use a package called planifica:wizard (for aldeed:autoform) that had created those values and were stored with amplify. (I guess i should contact the author to ask for an update, since that data is not compatibl

[2015-04-18 01:18] yuomtheara commented on #20
Now work fine.
Very thanks.

[2015-04-18 01:18] #20 closed

[2015-04-20 17:09] rgould commented on #24
@tcastelli If they were stored in amplify (and not through `Session`) then you shouldn't be getting the error, as we shouldn't be trying to do `EJSON.parse` on all of the data in amplify. If that's the case this is definitely a bug on our side. Is that what is happening?

[2015-04-20 17:16] tcastelli commented on #24
yes seems like the package is using amplify directly. I switched to
forwarder@wizard package to solve the issue,  since that one is using
session instead of amplify
El 20/4/2015 19:09, "Richard Gould" <notifications@github.com> escribió:

[2015-04-20 22:32] rgould commented on #24
Ah, yes. If something is set directly using `amplify.store` but then accessed using `Session.get`, that would cause this error. This can be fixed by having `Session.get` only attempt to use `EJSON.parse` if the key is a known key to persistent-session.

We'll fix this eventually, but I suspect this isn't commonly encountered, so it may be a few weeks. If anyone else encounters this, please :+1: he

[2015-04-21 03:31] #19 closed

[2015-05-01 01:47] MichelFloyd opened #26 "Authenticated session variables are cleared when a new user clicks their email confirmation link"
1. User registers
 1. Create an authenticated Session variable with `Session.setAuth('foo',1)`
 1. User clicks on email confirmation link from Meteor accounts package
 1. `typeof Session.get('foo') == 'undefined'`

[2015-05-04 22:26] rgould commented on #26
@MichelFloyd Thanks for the report! I wasn't able to reproduce it, but I can see how you may be running into this issue.

At step 3, when the user clicks the confirmation link, if that opens in a different browser session, then that session will not see the previous browser's `localStorage`, and so will not be able to access the `foo` variable.

If you have some data that you want to persist acros

[2015-05-04 22:37] MichelFloyd commented on #26
Thanks - by definition the confirmation link is going to open up a new tab/window since it’s sent via email and has to be clicked-on or pasted in to the URL bar.

On May 4, 2015, at 3:26 PM, Richard Gould <notifications@github.com> wrote:

[2015-05-05 01:23] rgould commented on #26
@MichelFloyd `localStorage` is shared across the browser session, so it will work even in a new tab or window, as long as it's the same process, but that's often not the case with this kind of work flow.

Anyway, I'll close this. If you find another issue related to it, feel free to open. Thanks for reporting it in the first case!

[2015-05-05 01:23] #26 closed

[2015-05-05 04:51] MichelFloyd commented on #26
Thank you Richard! This is a crypto app so I can’t save the data I need back to the server, I need to keep it in the client. I might have to resort to cookies!

What do you mean by “same process”? From the browser’s perspective it’s just another tab. Do you mean from Meteor’s perspective?

Everything I read about HTML5 local storage is that it should persist across tabs. Is Meteor account’s email

[2015-05-06 23:25] ribbedcrown opened #28 "Session.get() always return null after update to 0.3.4"
Hi! Thanks for great extension. I have a trouble after update to 0.3.4, `Session.get('key')` always returns *null* for both temporary and persistent keys used in app. All keys at local storage become equal *null*. After reverting version to 0.3.3 or removing package, it`s ok.
Meteor version 1.1.0.2, my config is set to persistent, but I've seen this behavior for all possible options.
[code]

[2015-05-07 03:21] mj12albert commented on #28
This happens to me as well, even with session keys set directly in the devtools console in my hasty attempts to see if it was a problem with my code.

[2015-05-07 10:21] lorensr commented on #28
For me unset session keys are returning the string `"null"`, which is bad because it evaluates to true, versus if it returned just `null`. When I remove the package, `Session.get('foo')` returns `false`.

[2015-05-07 10:29] lorensr commented on #28
Sorry, it's not unset session keys, it's only one's that I've set to false:

[code]

[2015-05-07 10:30] solo999 commented on #28
+1

[2015-05-07 19:30] rgould commented on #28
Whoops, sorry about that. That was a sloppy release on my behalf. You should be able to keep it at 0.3.3 with no problems, and I'll have a fix out hopefully tomorrow.

[2015-05-08 13:17] nicolamr commented on #28
Lol, just spent an hour debugging this.

[2015-05-09 01:52] tcastelli commented on #28
+1 happening all the time with setTemp variables and got crazy debugging :_)

[2015-05-12 17:22] rgould commented on #28
Sorry about that folks! That was sloppy on my behalf, and I'll be more careful about pushing updates in the future. More importantly, we'll push harder to get a solid test suite in place :)

I've reverted the offending commit and pushed version v0.3.5. I'll get around to fixing #27 soon (other work is getting in the way, unfortunately :( )

[2015-05-12 17:22] #28 closed

[2015-05-14 01:54] yuomtheara opened #29 "how to get the session on server?"
Could I get the session on server?
Please help me.

[2015-05-14 02:06] yuomtheara commented on #29
In my example, I have `Customer Collection` with branch office:
[code]
1- When I login the system, I selected the select box for branch `001` so I set the session `currentBranch = 001`.
2- I open the list view of `customer` by current branch (I use `tabular` package to  show list view).
`Tabular` set on the server, so I can't get the session to find `customer` by current branch.
Have any solutions

[2015-05-14 15:09] rgould commented on #29
@yuomtheara - For server side data, you should store it on the user. Session isn't designed to work on the server.

For example, you could call `Meteor.users.update({_id: Meteor.userId}, { $set: { currentBranch: '001' } });` and then access that on the server with `Meteor.users.findOne(Meteor.userId).currentBranch`.
(Disclaimer: untested, so may not be exact)

Hope that helps!

[2015-05-14 23:15] yuomtheara commented on #29
Very thanks for your explain, I think that it have problem when the same user login at the same time from different browser/PC (A user).

[2015-05-15 00:59] #29 closed

[2015-05-27 07:51] afoda commented on #9
I have also experienced this problem, the cause was out of order packages in `.meteor/packages`.

`u2622:persistent-session` assumes that `Meteor.logout` is already defined when it is loaded. Therefore `u2622:persistent-session` must appear *after* whichever `accounts-*` package is loading `accounts-base`, otherwise `Meteor.logout` is not overridden and `Session.clearAuth` doesn't get called on lo

[2015-06-01 18:24] rgould commented on #9
@afoda Thanks! This should give me enough information to fix it.

[2015-06-14 19:02] rslonik opened #31 "setDefaultPersistent() wrapping content with " ""
[code]

Open incognito window, see console, then refresh.

First time returns zXyRASRxc3HaFTxhm
But after refresh, return changes: "zXyRASRxc3HaFTxhm"

[2015-06-14 19:11] rslonik opened #32 "Session.setDefaultPersistent( { 'b': Random.id(), 'a': Random.id() } ) doesn't persist data"
[code]

The keys keep getting new values. Correct me if I'm wrong, but in the setDefault method, it should only assign a value if the key doesn't exists, right?

I'm not sure if the multiple keys should work with the setDefaultPersistent() like it does with setPersistent(), but I think so.

[2015-06-15 17:51] rgould commented on #31
Thanks for the bug reports. I'll look into them as soon as I can!

[2015-07-16 20:53] bhowell01 opened #34 "Session.setPersistent does not update Session in other tabs without reloading"
I decided to use a homemade version of user authentication for my app (no Meteor.user). I would like to use this package to change my session variables "loggedIn" and "currentUser" to be persistent so that a user can be automatically logged in in multiple windows on the same client. I have implemented the package and within 5 minutes very easily got this to work (thanks!). The problem is that my l

[2015-07-16 20:59] jhuenges commented on #34
Maybe you could use Tracker.autorun?

[2015-07-16 21:24] bhowell01 commented on #34
This is my first Meteor project so I had not even heard of that but after looking at the documentation and playing around I can't seem to figure out how to make it redraw the template. If I put it in the helper it is only reachable when the template redraws right? I have been playing around with it and can't figure out how to force the template to redraw.

[2015-07-17 06:23] jhuenges commented on #34
Can you paste some code? Maybe I can help you.

[2015-07-17 13:26] bhowell01 commented on #34
<template name="layout">
    {{#if login}}
        {{> loginScreen}}
    {{else}}
        {{> navBar}}
        <br><br>
        {{> yield}}
    {{/if}}
</template>

Template.layout.helpers({
  "login": function(){
    return !Session.get("loggedIn");
  }
});

"click #logOut": function(){ //in my navbar template
    Session.setPersistent("loggedIn", false);
    Session.setPersistent("currentUser",u

[2015-07-17 13:39] jhuenges commented on #34
This approach raises some concerns :/ Every user can change sessions to what ever he wants. So If I am not logged in and dont have an account. I could simply open my console and write
[code]
Another flaw is
[code]
You cant be sure that the subscription takes 60ms to get all the data.

Maybe you should think about another approach. Why does the Meteor accounts system not work for you?

[2015-07-17 14:09] bhowell01 commented on #34
Well this app is only going to be used internally in my company so I don't have to be quite as worried about security as I would with a normal application but my inexperienced self thought that taking out the insecure package (which I still have for development purposes) would deny users' access to session variables. Oops. Testing that scenario, no data is actually displayed on the website as ever

[2015-07-17 14:27] jhuenges commented on #34
The only thing that comes to mind, are collections. They allow you to deny client updates and you can update the content from the server.

[2015-07-17 15:18] bhowell01 commented on #34
I'm going to have to change to the meteor accounts system. Thanks for helping me out

[2015-07-21 20:06] pauldowman commented on #34
Is the original issue actually that it doesn't update the Session variable when it's changed on a different tab? I think that would be a good enhancement if so. There are events for localstorage, but we use Amplify which may actually be using other storage schemes, I'm not sure if Amplify has some portable events system but we could check it out.

[2015-07-24 16:55] bhowell01 commented on #34
When I was trying to use this idea, the session variables would change in the other tabs, but the templates did not redraw. So I would see that "loggedIn" was false in the other tab, but the template that relied on it's value only changed in the tab that was active when I changed the persistent session.

While my use case was flawed, it still seems like this would be an important feature since one

[2015-07-25 18:49] ianmartorell opened #36 "Session.setPersistent is not a function"
I keep getting `Uncaught TypeError: Session.setPersistent is not a function`. As if I didn't have the package added, which obviously I do... What could it be?

[2015-07-27 02:31] lorensr opened #37 "Values turned into strings"
I haven't yet pinned down exactly in which cases this happens, but sometimes when I set to `false`, it later evaluates to true because the value has changed to the string `"false"`, I'm guessing after it's been written and read from `localStorage`.

[2015-07-27 10:43] nicolamr opened #38 "What's the preferred way to expire a session?"
Does the session stay forever? If someone logs in in a public computer, the session should expire after a while. What's the best practice for this?

[2015-07-27 16:19] pauldowman commented on #38
This doesn't change how long you're signed in to your Meteor app. To expire login after a period of time you can use the `loginExpirationInDays` option which is documented here: http://docs.meteor.com/#/full/accounts_config (but that doesn't actually solve the problem of people not logging out on a public computer, I think it's the user's responsibility to log out IMHO).

None of that is related t

[2015-07-27 16:19] #38 closed

[2015-07-31 16:52] #9 closed

[2015-07-31 20:28] rgould commented on #36
@ianmartorell Looks like meteor changed how `Session` is loaded and it's breaking this package. Looking into a fix!

[2015-07-31 20:29] rgould commented on #37
@lorensr Thanks! I'll take a look.

[2015-07-31 20:32] lorensr commented on #37
Has also happened with [] becoming "[]". A simple set, refresh, get doesn't
cause it tho.

On Fri, Jul 31, 2015 at 4:29 PM, Richard Gould <notifications@github.com>
wrote:

[2015-07-31 20:56] rgould commented on #36
@ianmartorell Looks like I was mistaken, assuming you're still using 0.3.x. Perhaps it's a conflict with another package though. Do you mind posting your `.meteor/packages` and `.meteor/versions`?

[2015-08-01 02:56] rgould commented on #31
@rslonik I wasn't ever able to replicate this, but it may be fixed in the new version (0.4.0). Can you confirm if this is still an issue?

[2015-08-01 02:57] rgould commented on #37
@lorensr The changes introduced in 0.4.0 may have fixed this issue. Can you update and confirm if it's still occurring?

[2015-08-01 02:57] rgould commented on #32
@rslonik Same as other issue: I wasn't ever able to replicate this, but it may be fixed in the new version (0.4.0). Can you confirm if this is still an issue?

[2015-08-01 02:59] lorensr commented on #37
Thanks! Upgraded, will let you know if I notice it again.

[2015-08-01 03:16] lorensr commented on #37
I'm getting a lot of these errors, even in incognito:

![image](https://cloud.githubusercontent.com/assets/251288/9020439/247f2a7a-37da-11e5-93e2-1d9107759072.png)

![image](https://cloud.githubusercontent.com/assets/251288/9020441/30693222-37da-11e5-9ec7-4cc4d4592caf.png)

[2015-08-02 11:20] rico commented on #37
Having the same issue. For instance arrays are converted to strings. Using 0.4.0 with Meteor 1.1.0.2,. Thanks for looking into it.

[2015-08-02 16:09] tcastelli opened #41 "Switching from one route to another raises psEquals error"
Getting this error when moving between routes with 0.4.0. Didn't happen before(switched back to 0.3) I've rechecked my routes and all seem correct with their this.next();

[code]

[2015-08-08 17:58] kaypro4 commented on #37
I had the same issue as well using 0.4.0 and Meteor 1.1.0.3.  Rolling back to 0.3.5 resolved the issue for me.

[2015-08-11 01:14] rodcope1 opened #42 "Session.clear(unusedKey) gives "Uncaught TypeError: Cannot read property 'undefined' of undefined""
Until the latest release, it was okay to clear a key that hadn't been used yet.  Now it blows up.

I'd rather not have to check for the existence of a key before I try to clear it in initialization code.

[2015-08-11 01:21] rgould commented on #42
@rodcope1 Thanks. We'll fix this!

[2015-08-11 01:56] pauldowman commented on #37
@kaypro4 did you try 0.4.1?

[2015-08-11 02:01] lorensr commented on #37
I'm no longer getting the `keyValueDeps` error in `0.4.1`

[2015-08-11 23:01] chieina opened #43 "Issue with ian:accounts-ui-bootstrap-3"
after a meteor update, I got an issue with the accounts popup. I found out that the cause of the problem is the u2622:persistent-session. This is how it looks like :

![accounts-bootstrap](https://cloud.githubusercontent.com/assets/3444151/9212934/d5bf786a-40bf-11e5-8273-82d69ed21803.jpg)

Thank you in advance for the response

[2015-08-11 23:09] rgould commented on #43
@chieina Thanks! We'll look into it as soon as possible.

[2015-08-11 23:13] chieina commented on #43
thanks in advance.

[2015-08-14 15:19] kaypro4 commented on #37
@pauldowman updating to 0.4.1 fixed the issue for me too.  Thanks!

[2015-08-14 18:09] tcastelli commented on #41
whatever it was, seems to be fixed on 0.4.1

[2015-08-19 00:17] tcastelli commented on #41
I just got the same error while doing a logout (seems to come from useraccounts iron-router package)
[code]

[2015-08-20 22:42] dkoo opened #44 "Session.clear() or Session.clearAuth() results in TypeError"
First off, thank you for this awesome extension of Session. I'm relying on it quite a bit to hold consistent views after page refreshes and it works quite well, for the most part.

One thing I've noticed is that using `Session.clear()` or `Session.clearAuth()` (with no arguments) in my app results in a TypeError:

[code]

In my case, I'm using it to clear Session keys when the user visits the root

[2015-08-21 13:01] freiit opened #45 "0.3.5 and 0.4.* are incompatible"
If you upgrade your project, the values stored in a browser cache might not be the same anymore.

*# meteor add u2622:persistent-session@=0.3.5
**$ Session.setPersistent('x', 5)
**$ Session.setPersistent('y', null)
**$ Session.get('x')
5
**$ Session.get('y')
null

*# meteor add u2622:persistent-session@=0.4.1
** $ Session.get('x')
"5"
**$ Session.get('y')
"null"

[2015-08-23 02:01] godblessmensah commented on #37
Am having this issue too, my nulls are being turn into "null".
Am using meteor 1.1.0.3 and 0.4.1.

[2015-08-23 02:06] godblessmensah commented on #45
Am facing this same issue. Can something be done about it?
This should really be fixed for us please.

[2015-08-25 19:41] namirsab commented on #36
I have the same problem. Only setTemporary appears as a function

[2015-08-25 19:45] namirsab commented on #36
Ok, i solved the next way. remove the package and install it specifying the last version. That's all.

[2015-08-28 04:52] aramk commented on #45
:+1:

[2015-08-28 04:55] aramk commented on #37
Having the same issues. This is related to #45.

[2015-08-28 04:58] aramk commented on #45
Perhaps a migration would be good - if they were stored without quotes before you use regex to determine if they should be strings?

[2015-08-31 10:57] smadsen commented on #37
+1
Empty arrays are saved as strings

![screen shot 2015-08-31 at 12 56 26](https://cloud.githubusercontent.com/assets/867391/9577303/cba628ae-4fdf-11e5-83df-c3805968d3c1.png)

[2015-09-02 18:18] ianmartorell commented on #36
I couldn't find a way to get it to work when I opened this issue, so I found another way to do what I was trying to do without Session.  Now I'm using this package again and it's working great!

[2015-09-02 18:18] #36 closed

[2015-09-17 16:05] deanius commented on #41
Can you include more information, perhaps the code of the repo that exhibits this issue ?

[2015-09-22 14:22] tcastelli commented on #41
I think i was doing a double logout so the package was trying to remove non existing session variables(auth). So it was connected with #42

[2015-09-23 20:28] deanius commented on #45
A migration is included in PR #47  - it's just not gone live yet- I gave it a +1  - can anyone else help by checking it out ?

[2015-09-23 20:32] #44 closed

[2015-09-23 20:35] deanius commented on #37
If any of you can test if #47 fixes your issues and note it on the PR that'd be great!

[2015-09-23 20:36] deanius commented on #24
@rgould  - if things are merged, is the issue closable ?

[2015-09-28 04:15] aramk commented on #45
@deanius I tested by adding values on 0.3.5 then moving to 0.4.1 then to [5b53df1]. I tested these values and it looks like it works after breaking in 0.4.1:

[code]

Thanks for that, guys!

[2015-09-28 16:00] deanius commented on #45
@rgould  - looks good to merge

[2015-09-29 02:24] #37 closed

[2015-09-29 02:28] rgould commented on #45
Fixed by #47

[2015-09-29 02:28] #45 closed

[2015-09-29 02:30] rgould commented on #41
@tcastelli We've just published v0.4.2, which fixes #42, and so should fix the case with the double logout. If you experience an issue again go ahead and re open this issue.

[2015-09-29 02:30] #41 closed

[2015-09-29 02:31] rgould commented on #42
This was fixed by #46 and has been released as of 0.4.2

[2015-09-29 02:31] #42 closed

[2015-09-29 02:31] rgould commented on #31
@rslonik Both 0.4.0 and 0.4.2 should have fixes that would stop this from happening, so I'll close this issue. If you're still encountering it, go ahead and reopen it.

[2015-09-29 02:31] #31 closed

[2015-09-29 15:31] themeteorchef opened #48 "How to disable console messages?"
Whenever I load from persistent storage, I'm getting a handful of console messages:

![](http://cl.ly/image/262q1V191a3U/Image%202015-09-29%20at%2010.30.01%20AM.png)

Is there any way to turn this off?

[2015-09-29 16:56] #48 closed

[2015-09-29 16:57] rgould commented on #48
@themeteorchef Thanks! Sorry about that. Leftover debugging messages that I accidentally committed. They've been removed in v0.4.3 which i've just released.

[2015-09-29 17:22] themeteorchef commented on #48
No worries, thanks for the quick patch :)

[2015-09-30 10:34] nagarajay opened #49 "After installing Meteor 1.2.0.2 Console shows the persistent Session name and values"
Hi There,

It seems after updating Meteor to 1.2.0.2 yesterday this package is giving the persistent Session names and values in the console. I have checked my code couple of times and felt I should share this with the community.

Please let me know if this is a cosmetic Bug or is it just me.

Thanks
Ajay

[2015-10-02 16:57] rgould commented on #49
@nagarajay Hi Ajay! This was an issue with 0.4.2 where some debug statements were accidentally committed. They've been removed in 0.4.3 :)

[2015-10-02 16:57] #49 closed

[2015-10-02 18:35] nagarajay commented on #49
Thanks a lot. Cheers!!

[2015-10-03 15:17] dotnetwise opened #50 "Remove those pesky logs"
[code]
Or add a way to disable them via `meteor.settings` file

[2015-10-03 17:23] rgould commented on #50
@dotnetwise They've been removed in 0.4.3 :)

[2015-10-03 17:23] #50 closed

[2015-10-06 16:21] dpatte commented on #43
what was the last working version installed before this appeared?

[2015-10-09 18:09] rgould commented on #24
@tcastelli This shouldn't be an issue anymore, but if you encounter it again, please re-open :)

[2015-10-09 18:09] #24 closed

[2015-10-09 19:14] rgould commented on #43
@chieina @dpatte Sorry, only just getting to this now. Unfortunately I can't seem to replicate it. I'm not sure if it's because I'm using a newer version of `ian:accounts-ui-bootstrap-3` (1.2.81) or because there's some other configuration involved.

What `accounts-*` packages are you using? I tried it with `accounts-password`, `accounts-google`, and `accounts-facebook`, and they all looked good.

[2015-10-09 20:34] dpatte commented on #43
I believe this is an issue with another package (meteor-persistant-session) as it is now resolved for me when I backtracked on that module to v0.3.5. @chieina - do you see the same?

[2015-10-09 21:08] rgould commented on #43
@dpatte Now that I think of it there may have been a bug with 0.4.0 that was resolved in 0.4.3, which is the current release. Are you able to try that out and see if the problem persists?

[2015-10-10 10:33] Christilut opened #52 "Session in Flow Router"
I tried to do a Session.clear() in an action method of a FlowRouter route but the clear didnt seem to do anything. This worked in Iron Router.
If I take the clear() out of the route an put it in a helper method, it works just fine.

Is this intended?

Edit: fixed it by using Meteor.defer() but should this be the normal way to do this in a flow route?

[2015-10-12 08:30] HunterNL opened #53 "Document PersistentSession"
The documentation only shows saving the Session variable but the code exposes a PersistentSession which seems a lot nicer to use than throwing everything I want to persist into Session.

Could the readme be updated to reflect this? Right now it's seriously under"selling" the usefulness of this package.

Renaming PersistentSession to PersistentReactiveDict might go a bit far, but would make it clea

[2015-10-14 02:16] rgould commented on #52
@Christilut Thanks Christiaan - this sounds like a bug. We'll check it out!

[2015-10-14 21:24] pauldowman commented on #53
Actually I do think the package should be PersistentReactiveDict. :smile:

[2015-10-25 09:21] wubin1989 opened #54 "how to set the expires value??"
how to set the expires value??

[2015-10-25 10:49] jhuenges commented on #54
WHat do you mean with "expires"?

[2015-10-25 12:49] wubin1989 commented on #54
the localStorage property 'expires', I check it with develop tools of chrome, I saw {"data":true,"expires":null}

[2015-10-26 13:51] rgould commented on #54
@wubin1989 The `expires` property is controlled by `amplifyjs`. What do you want to use it for? Setting a temporary session value that is cleared after a certain time?

[2015-10-26 20:51] #32 closed

[2015-10-31 03:56] dpatte commented on #43
i upgraded from 0.3.5 to 0.4.4 and still see this issue. I am currently stuck at 0.3.5

[2015-10-31 05:21] dpatte commented on #43
OK. I upgraded from 0.3.5 to 0.4.4 and still saw this issue (as well as other persistance issues). I was able to resolve the problems by clearing the browser cookies manually. All seems good now.

But I am trying to understand what has caused the issue, and if there is anything I can do that can fix it from this end for my clients. Expecting them to guess that they have to clear their cookies is s

[2015-11-02 12:39] Billybobbonnet opened #55 "Is this package supposed to support cross-tab updates?"
If I use this package to set, e.g. authenticated variables, is this supposed to support cross browser tabs updates?

I gave it a try and it is not working but I wanted to check if I am not missing something before giving up.

Thanks

[2015-11-02 17:09] rgould commented on #55
@Billybobbonnet this package uses `localstorage` on the backend, so it should persist across tabs, but it could be that the updates aren't being propagated. If that's the case, I'm not sure there's anything we can do it about it, but we'll take a look :)

[2015-11-03 19:37] pauldowman commented on #55
@Billybobbonnet Do you mean that you need to refresh the second tab before the change is visible there? If so I think that's the same issue as #34, and see my comment [here](https://github.com/okgrow/meteor-persistent-session/issues/34#issuecomment-123463072)

[2015-11-03 19:38] #55 closed

[2015-11-04 07:05] Billybobbonnet commented on #55
I wrapped your package variable in an autorun block like this:
[code]

When I change this Session variable with, e.g. `Session.setAuth("myvar",newValue)` the autorun does not re-run in the other tab, and the Session variable is not updated.

[2015-11-05 02:04] pauldowman commented on #55
@Billybobbonnet I think it's the same issue as #34. See my comment [here](https://github.com/okgrow/meteor-persistent-session/issues/34#issuecomment-123463072).

[2015-11-07 00:46] #54 closed

[2015-12-17 20:23] T-Grave commented on #34
:+1:

I would love this, I've come across a couple of occasions when cross tab updates would be awesome.

[2016-01-03 23:45] cyllu2 opened #56 "New version is unusable"
Nothing to see here. Because it was localhost, it had saved some sessions from a different app and that made the new app confused and showed errors.

[2016-01-04 00:15] #56 closed

[2016-01-04 18:30] pauldowman commented on #56
Awesome. Glad it's OK :smile:

[2016-03-03 08:04] minfawang commented on #34
+1. Would love to see some progress on this.

[2016-03-31 10:48] lyquocnam opened #57 "this support meteor 1.3 ?"
this support meteor 1.3 ?
how can i import this ?

[2016-04-04 16:39] rgould commented on #57
@lyquocnam I just tested and it seems to work with 1.3. There shouldn't be anything special that you need to do.

[2016-04-04 16:39] #57 closed

[2016-05-10 08:17] thearabbit commented on #57
Excuse me, how to import this?
[code]
Which one?

[2016-05-10 11:15] TimeBandit opened #58 "Reactive persistent-session"
Is this reactive? Perhaps the docs could be updated to show how this could be used reactively. If it is not possible then this would make a neat enhancement.

Currently it seems like if I wanted reactivity I would also store the data in a regular sessions var and keep it in synch with the persistent-session. The regular session would then be used where reactivity was important.

[2016-06-14 10:58] mncvnn opened #60 "persistent-session and angular-meteor"
Hi guys,
Could someone help me understand how to merge two great things like this together?
Thanks.

[2016-06-21 23:53] boblikesoup opened #61 "setPersistent not Persistent"
Using Meteor 1.3.2.4
------------------------------
[code]

test session successfully increments on click, should store incremented values but always resets to 0 on refresh. Also tried with Session.update.

[2016-06-22 00:26] boblikesoup commented on #61
Was resetting the session to 0 on refresh. Solved by adding this before initial set.

if !Session.get 'test'

[2016-06-22 00:27] #61 closed

[2016-06-24 06:28] Greblak commented on #34
I used this code to accomplish it along with the simply:reactive-local-storage package, which makes localstorage reactive.

It's a bit of a hack though, but useful for the few times you need it. Perhaps something you can use to implement it properly ? :+1:

[code]

[2016-06-26 11:32] voidale opened #62 "[Question]Mobile/Cordova support?"
Can I safely use this in mobile as well?

[2016-06-28 16:28] rgould commented on #58
Yeah. The package makes some changes to `Session` itself, but it retains its reactivity. You would use this package just like you would use `Session`. The only big advantage is that it doesn't lose its values after a browser refresh.

If you're not seeing reactivity, then there is a bug. If that's the case, go ahead and re-open this :)

[2016-06-28 16:28] #58 closed

[2016-07-08 21:31] rgould commented on #62
@voidale I don't see why not - I believe we've used it in a couple of our mobile projects with no issues. Go ahead and re-open this issue if you run into a problem or have further questions.

[2016-07-08 21:31] #62 closed

[2016-07-08 21:31] rgould commented on #60
We don't use Angular at OK GROW!, but I don't see why they wouldn't work together. This package monkey-patches `Session`, and unless Angular also interferes with it somehow, it should work as expected. If you run into a specific problem, feel free to open another issue :)

[2016-07-08 21:31] #60 closed

[2016-07-08 21:56] rgould commented on #52
Sorry for taking so long. I tried to replicate this but it seems to be working as expected. If you're still encountering a problem please re-open this issue.

[2016-07-08 21:56] #52 closed

[2016-07-08 22:10] rgould commented on #43
I tried to replicate this recently and I wasn't able to do so. If it's still an issue please re-open! A lot has changed since October, so I'll be surprised if this is still a problem :)

[2016-07-08 22:10] #43 closed

[2016-07-21 16:59] phoenixsupplies opened #63 "Explicit dependency on Meteor.Session"
Thanks for making this useful package,
however you might want to update the docs for this package for Meteor 1.3 users.

I had assumed this was a drop in replacement for the Meteor package and tried using it on its own.  My blaze templates threw errors when I tried to get/set Session, but there was no error when I actually installed your package so it doesnt seem like Session is a dependency.
Once

[2016-10-11 02:00] zhaoyao91 opened #64 "Is there performance penalty?"
do you use a simple strategy to save the data into localstorage as soon as possible, or by some other smarter way? If the app frequently update the state, is there any penalty?

[2017-01-17 17:17] cfnelson commented on #63
The ReadMe has been updated with your suggestion. Thanks for pointing this out to us. 😄

[2017-01-17 17:17] #63 closed

[2017-02-01 18:52] BTooLs opened #66 "jquery dependency used?"
I see the jquery dependency but I can't see where do you need it?

[2017-03-08 18:44] karldanninger commented on #66
Hey @BTooLs I'm sorry we haven't gotten back to you. This project is now unsupported and we won't be actively developing it anymore.

I'm not sure why we have that dependancy, but you can fork this repo and remove it if you would like!

[2017-03-08 18:44] #66 closed

[2017-03-08 18:44] rgould commented on #64
We do whatever amplify does for storage, which probably means that it saves it immediately. There is of course a small performance hit, but I can't really comment on whether it's impactful or not

[2017-03-08 18:44] #64 closed

[2017-03-26 17:50] promentol commented on #34
if Persistent Session is using localStorage, using window.addEventListener('storage' other tab can catch the changed values, we may need for Persistent Session refresh like functionality then

[2017-12-22 08:46] jroque-seertech opened #68 "Set persistent can only be use once ?"
Why is that im trying to use setPersistent twice in a single page but the last one only push through as persistent data ?

[2018-06-06 21:55] theodorDiaconu opened #69 "Meteor 1.7 support ?"
Doesn't work in 1.7 with a modern browser.

[2018-06-06 22:16] theodorDiaconu commented on #69
Ended up with cultofcoders:persistent-session cheers (https://github.com/cult-of-coders/meteor-persistent-session)

[2018-06-06 22:44] #69 closed, assigned to nobody

[2018-06-11 22:49] benlavalley opened #70 "Anyone using w/Meteor 1.7?"
I ran an upgrade to a Meteor 1.7 beta a month ago to try and resolve an issue I was having, and found this package was throwing errors.

I'm back on 1.6.1.1 for now, but wanted to ask if anyone using this package with Meteor 1.7 successfully?

[2018-06-12 12:17] pauldowman commented on #70
Sorry @benlavalley but this project isn't supported any more, we no longer use it.

[2018-06-12 12:17] #70 closed, assigned to nobody

[2018-06-12 12:18] pauldowman commented on #68
Closing this old issue because this project is unsupported.

[2018-06-12 12:18] #68 closed, assigned to nobody

[2018-06-12 12:18] pauldowman commented on #53
Closing this old issue because this project is unsupported.

[2018-06-12 12:18] #53 closed

[2018-06-12 12:18] pauldowman commented on #34
Closing this old issue because this project is unsupported.

[2018-06-12 12:18] #34 closed

[2018-06-12 17:20] benlavalley commented on #70
@pauldowman Understood and I saw the unsupported status, but I was curious to know if anyone else may have made any offline tweaks to the package and figured this was the best place to surface a possible issue.

[2018-06-12 17:29] maxnowack commented on #70
I’m using this package right now and planning to build a 1.7 compatible alternative

[2018-06-12 17:31] benlavalley commented on #70
@maxnowack - I should have looked for closed issues before posting - someone else had the same exact idea I did last week:

https://github.com/okgrow/meteor-persistent-session/issues/69

In the thread it's mentioned that another fork is 1.7-compatible:

https://github.com/cult-of-coders/meteor-persistent-session

There was another fork created where jQuery was removed as a dependency but it appear

[2019-07-08 22:34] louwers opened #71 "Unmaintained and broken, go here"
https://github.com/cult-of-coders/meteor-persistent-session

[2022-11-05 14:49] Hormiga-Meteor commented on #71
https://atmospherejs.com/hormiga/persistent-session works with Meteor 2.8